[user]
	# 设置用户名
	name = MiMiKnight
	# 设置邮箱
	email = victor2015yhm@gmail.com
[commit]
	# 设置提交模板文件位置
	template = E:/SoftWorkspace/GitWorkspace/template/commit.template
[alias] # 给git命令起别名
	# 只显示最近的一次提交记录命令别名设置
	last = log -1
	#
	graph = log --graph --all
	#
	mergenoff = merge --no-ff
	#
	mergeSquash = merge --squash
	# add全部
	addAll = add --all .
	# commit全部
	commitAll = commit --all
	# amend
	commitAmend = commit --amend
	# 撤销工作区修改
	restoreWork = restore
	# 撤销暂存区修改
	restoreStage = restore --staged
	# 查看当前工作区代码与当前暂存区的差异WS=WorkStage
	diffWorkStage = difftool
	# 查看当前工作区代码与当前版本库的差异 WH=WorkHead
	diffWorkHead = difftool HEAD
	# 查看当前暂存区与当前版本库之间的差异 SH=StageHead
	diffStageHead= difftool --cached HEAD
	# 分支重命名
	branchRename = branch -m
[core]
	# 设置git默认编辑器
	editor = D:/DevelopProgram/VSCode/VSCode-win32-x64-1.73.1/Code.exe --extensions-dir E:/SoftWorkspace/VSCodeExtensions
	# false:设置中文路径名称不转义显示
	quotepath = false
[diff]
	# 设置diff工具名称
	tool = bc4
[difftool]
	prompt = true
[difftool "bc4"]
	# 配置bc4 diff工具路径
	path = D:/DevelopProgram/BeyondCompare/BeyondCompare_v4.4.2.26348/BComp.exe
[merge]
	# 配置merge工具名称
	tool = bc4
[mergetool]
	prompt = true
	# 合并产生冲突时不产生*.orig备份文件(true:生成;false:不生成)
	keepBackup = true
[mergetool "bc4"]
	# 设置bc4 merge工具路径
	path = D:/DevelopProgram/BeyondCompare/BeyondCompare_v4.4.2.26348/BComp.exe
[gui]
	fontui = -family Consolas -size 14 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 14 -weight normal -slant roman -underline 0 -overstrike 0
[http]
	sslVerify = false
	# Git添加代理
	proxy = http://127.0.0.1:9666
[credential "helperselector"]
	selected = manager-core
[credential]
	# 记住Git密码
	helper = store
[log]
	date = iso8601
[credential "https://gitee.com"]
	provider = generic
